input#start_at type='text' value='2015-02-18,14:00:00'
input#finish_at type='text' value='2015-02-18,14:00:20'
input#dt type='text' value='1'
button#plot Plot

div#chart_div style="width:900; height:300"
